<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Demo app</title>
  </head>

  <body>

    <center>

    <table>
        <tr>
            <th>Temperature</th>
            <th>Humidity</th>
            <th>CO</th>
            <th>Smoke</th>
            <th>LPG</th>
        </tr>
        <tr>
            <td id="colorChangerTemp" bgcolor="green" height=100px width=100px></td>
            <td id="colorChangerHumidity" bgcolor="green" height=100px width=100px></td>
            <td id="colorChangerCO" bgcolor="green" height=100px width=100px></td>
            <td id="colorChangerSmoke" bgcolor="green" height=100px width=100px></td>
            <td id="colorChangerLpg" bgcolor="green" height=100px width=100px></td>
        </tr>
    </table>


    </center>


    <script type=text/javascript src="{{
        url_for('static', filename='jquery.js') }}">
    </script>


    <script>
        $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
        (function(){
            $.getJSON(
                $SCRIPT_ROOT+"/_ajaxAutoRefresh", 
                function(data) {
                document.getElementById("colorChangerTemp").style.backgroundColor=data.colorTemp;
                document.getElementById("colorChangerHumidity").style.backgroundColor=data.colorHumidity;
                document.getElementById("colorChangerCO").style.backgroundColor=data.colorCO;
                document.getElementById("colorChangerSmoke").style.backgroundColor=data.colorSmoke;
                document.getElementById("colorChangerLpg").style.backgroundColor=data.colorLpg;
                }
            );
            setTimeout(arguments.callee, 1000);
        })();
    </script>


    </body>
</html>

